* {
	box-sizing:border-box;
}
body {
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-image: url(image/jad-limcaco-284462-unsplash.jpg);*/
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: center;;
    background-repeat: no-repeat;
    background-attachment: fixed;;
    color: white;
    font-family: 'Space Mono', monospace;
    border: 4px double;
   	/*margin-top: 355px;  */   
}
html {
	height: 100%;
}
main {

}

#txt {
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);*/
    color: white;
    font-size: 46px;
    
    letter-spacing: 7px;

}
#date {
	grid-area: date;
	/*background-color: pink;*/
	color: white;
	font-size: 21px;
	border:4px dotted;
	padding: 5px;
}
#txt {
	grid-area: txt;
	/*background-color: green;*/
	font-weight: bold;
}
#anime {
	grid-area: anime;
	/*background-color: yellow;*/
	font-size: 38px;

}

/*#tekst {
	color: white;
	margin: 0;
}*/
#anime, #date, #txt {
	text-align: center;
}

.background {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
		'anime'
		'date'
		'txt';
	grid-gap: 25px;
	padding: 10px;
	margin-top: 25px;
}
figure img {
	width: 50%;
	height: auto;
	/*display: block;
	margin-left: auto;
	margin-right: auto;*/

}


@media only screen and (min-width:720px) and (max-width:1023px){
	body {
		/*margin-top: 265px;*/ 
		

	}
	#date {
		font-size: 32px;
		/*margin-top: 3px;*/
		/*padding-top: 50px;*/
	}
	#anime {
		/*padding-top: 25px;*/
		font-size: 38px;
	}
	#txt {
		font-size: 120px;
		
		margin-top: 50px;
	}
	.background {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: 
	
	'anime anime date date date'
	'txt txt txt txt txt';
	
	grid-gap: 25px;
	padding: 10px;
	margin-top: 50px;
	}



}

@media only screen and (min-width:1024px) and (max-width:1439px){

	body {
		/*margin-top: 300px; */
	}

	.background {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: 
	
	'anime anime anime anime'
	'date date txt txt ';
	;
	grid-gap: 25px;
	padding: 10px;
	margin-top: 50px;
	}
	#txt, #date {
		margin-top: 50px;
		
	}
	#txt {
		font-weight: bold;
		font-size: 70px;
	}
	#date {
		border:4px dotted;
		font-size: 45px;
	}
	#anime {
		font-size: 50px;
	}

}

@media only screen and (min-width:1440px) {

	body {
		/*margin-top: 375px; */
	}
	.background {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: 
	
	'anime anime txt txt'
	'date date txt txt ';
	;
	grid-gap: 25px;
	padding: 10px;
	margin-top: 50px;
	}
	#txt {
		font-size: 105px;
	}
	#anime {
		font-size: 50px;
	}
	.background {
		margin-top: 50px;
		padding-bottom: 60px;
		padding-left: 50px;
	}
	/*#anime, #txt {
		margin-top: 50px;
	}*/


}

